.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__placeholder-container {
    display: flex;
    gap: 0.5rem;

    color: white;

    .title {
      text-transform: capitalize;
    }

    .value {
      text-overflow: ellipsis;
    }
  }

  &__actions-container {
    display: flex;
    gap: 0.5rem;
  }
}
