$actions-container-width: 87px;
$stat-gap: 1rem;

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $stat-gap;

  &__placeholder-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: calc(100% - $actions-container-width - $stat-gap);

    color: white;

    .title {
      text-transform: capitalize;
    }

    .value {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__actions-container {
    display: flex;
    gap: 0.5rem;
  }
}
