.stat-button {
  border-radius: 2px;
  cursor: pointer;

  &--increment {
    background-color: var(--btn-increment);

    &:hover {
      background-color: var(--btn-increment-hover);
    }
  }

  &--decrement {
    background-color: var(--btn-decrement);

    &:hover {
      background-color: var(--btn-decrement-hover);
    }
  }
}
